/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    /* default bootstrap navbar needs padding in the body because it floats */
    padding-top: 50px;
}

.recipe-list {
    padding: 40px 15px;
    text-align: left;
}

.recipe-list thead th {
    background: lightgray;
}